# created by virtualenv automatically
*.log
.\Lib
.\Scripts
pyvenv.cfg
__pycache__/
*.pyc
*.pyo
.\src\db.sqlite3
.\src\manage.py
.\src\H_M_S\settings.py
.\src\account\migrations
.\src\patients\migrations
.\src\doctors\migrations
.\src\appointments\migrations
.\src\billing\migrations
