# Python
.pyvenv.cfg
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]

# Virtual Environment
venv/
env/
.\src\.env

# Django
*.log
.\Lib
.\Scripts
.\src\db.sqlite3
.\src\media
.\src\account\migrations
.\src\patients\migrations
.\src\doctors\migrations
.\src\appointments\migrations
.\src\billing\migrations
.\src\medical_records\migrations

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/